# Python Basics by Esther Nderitu
Guides on using Jupyter Notebook
Code : To write codes

Markdown : To write formatted text

Raw NBConvert : To write unformatted text

Jupyter Notebook : One editor where you can write codes, formatted text, unformatted text, create charts and graphs etc

Esc + DD : To delet the cell

Run the cell : shift + enter

In [88]:
print('Hello Everyone')

print("Join the Challenge since we will go deep into using Python for Data Science")

Hello Everyone
Join the Challenge since we will go deep into using Python for Data Science

# Variables
 Are for storing data values.
 In Python, variables are created when you assign a value to it.

In [89]:
a=10
b=11.23
c=1980.3456
d="Hello World"
e=False
f=True

type(a)

int

In [90]:
type(b)

float

In [91]:
type(c)

float

In [92]:
type(d)

str

In [93]:
type(e)

bool

In [94]:
type(f)

bool

# Data types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

# Operators
Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

Below are few examples

In [95]:
# assignment operator
x=5

In [96]:
# Bitwise And
x = 290
x & 3

2

# Conditinals
include if ,else elif
Elif-suggests if the previous conditions were not true ,then ty this condition
else-

In [99]:
#elif
a = 40
b = 40
if b > a:
  print("b is greater than a")
elif a == b:
  print(str(a) +" and " + str(b) +" are equal")

40 and 40 are equal

In [104]:
#else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

# Loops
include
while loops
for loops

In [105]:
# while loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [109]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [110]:
#else Statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [112]:
#For loop
for x in "banana":
  print(x)
  
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

b
a
n
a
n
a
apple
banana

In [113]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [120]:
for x in range(2, 6):
  print(x)
  # by incrementing
  
for x in range(2, 50, 3):
  print(x)

2
3
4
5
2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [1]:
#Nested loops
des = ["red", "big", "purple"]
fruits = ["apple", "banana", "cherry"]

for x in des:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
purple apple
purple banana
purple cherry