# Data Structures in Python
They include :

In [20]:
#1.Lists
my_list=[1,2,3,4,5]
print(my_list)
#Lists can contain elements of different types, including numbers, strings, or even other lists.

mixed_list = [1, "two", 3.0, [4, 5]]
print('print mixed_list', mixed_list)

#You can access elements in a list using indexing. Python uses zero-based indexing.

print(my_list[2])

#In the given mixed_list, the element at index 3 is a nested list [4, 5]. To access the element 4 within this nested list, you can use double indexing. Here's how you can do it:
mixed_list = [1, "two", 3.0, [4, 5]]

# Accessing the nested list
nested_list = mixed_list[3]

# Accessing the element '4' within the nested list
element_4 = nested_list[0]

print(element_4)

#You can extract a sublist (slice) from a list using slicing notation.
subset = my_list[1:4]  
print('Display the subset',subset)

#Lists are mutable you can change their value.
my_list[0] = 10
print(my_list) 
#you can also modify multiple elements using slicing

my_list[1:4] = [20, 30, 40]
print(my_list)
#To get the legnth  of the list
length = len(my_list)
print(length)
mixedlength = len(mixed_list)
print(mixedlength)

for element in my_list:
    print('elements are',element)

[1, 2, 3, 4, 5]
print mixed_list [1, 'two', 3.0, [4, 5]]
3
4
Display the subset [2, 3, 4]
[10, 2, 3, 4, 5]
[10, 20, 30, 40, 5]
5
4
elements are 10
elements are 20
elements are 30
elements are 40
elements are 5

In [2]:
#2.Tuples 
# are used to store multiple items in a single variable.
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

mytuple[0]

<class 'tuple'>

'apple'

In [6]:
mytuple[2] =56

TypeError: 'tuple' object does not support item assignment

In [8]:
# accessing tuple
tuple = (1,2,3,4,5,6,7,8,9)

print(tuple[0:4])

print(tuple[:-7])

print(tuple[7:])

print(tuple[:])

(1, 2, 3, 4)
(1, 2)
(8, 9)
(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [22]:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

TypeError: 'tuple' object is not callable

In [26]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [27]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [28]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [52]:
#Dictionaries
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for key, value in car.items():
 print(f"{key}: {value}")

print(len(car))

#Get the value of the "model" key:
x = car.get("model")
print(x)

car["wheels"] = 4
for key, value in car.items():
 print(f"{key}: {value}")

brand: Ford
model: Mustang
year: 1964
3
Mustang
brand: Ford
model: Mustang
year: 1964
wheels: 4

In [41]:

#The values in dictionary items can be of any data type.
#Using the dict() method to make a dictionary:

dict = dict(name = "John", age = 90, country = "Kenya", gender = "Male")
print(dict)

3
{'name': 'John', 'age': 90, 'country': 'Kenya', 'gender': 'Male'}

In [54]:
#use values() Get a list of the values:
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 4])

In [56]:
#use keys() Get a list of the keys:

x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year', 'wheels'])

In [62]:
#Sets
thisset = {"apple", "banana", "cherry"}


print(thisset)

{'apple', 'cherry', 'banana'}